
body{
    background-color: black;
}
.form-floating{
    background-color: rgb(214, 15, 204);
    text-align: center;
    
}
.container{
    margin-top: 150px;
}
#first{
    margin-top: 50px;
}
/* .card{
    width:300px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 40px;
}
*/
nav{
    background-color: #dface4;
}
li{
    font-size: 25px;
}
li:hover{
    background-color: rgb(168, 232, 235);
    color:rgb(206, 78, 211);
}
li:active{
    background-color: rgb(168, 232, 235);
    color:rgb(206, 78, 211);
}
ul{
    margin-left:100px ;
}
img{
    height:100%;
    width: 100%;
}
a img{
    height: 100%;
    width: 100%;
}